<%= form_tag sessions_path do %>
<div class="container">
    <%= text_field_tag :username, nil, placeholder: "username" %>
    <%= password_field_tag :password, nil, placeholder: "password" %>
    <%= submit_tag 'Log in' %>
</div>
<% end %>
