<div class="row align-center align-middle box">
    <div class="callout align-center align-middle login">
      <%= link_to 'sign up', new_users_url, class: "button expanded" %>
      <%= link_to 'log in', new_sessions_path, class: "button expanded" %>

    </div>

</div>
