<!-- <div class="reveal" id="create-content" data-reveal> -->

<%= form_for(content) do |f| %>
<%= f.text_area :body, placeholder: "body", class: "text-center"  %>
<%= f.hidden_field :project_id, value: project.id %>

<%= f.submit 'post content', class: "button" %>
<% end %>

<!-- </div> -->

<!-- <a data-open="create-content" class="button expanded">create content</a> -->
