<div>
    <h3>About</h3>
    <%= render 'contents/form', content: @content, project: @project %>

    <h3>Context</h3>
    <%= render 'contents/form', content: @content, project: @project %>

    <h3>Importance</h3>
    <%= render 'contents/form', content: @content, project: @project %>

    <h3>Goals</h3>
    <%= render 'contents/form', content: @content, project: @project %>

</div>
