<div class="reveal" id="create-video" data-reveal>

<%= form_for video do |f| %>
<%= f.text_field :youtube_link, placeholder: "Youtube Link", class: "text-center"  %>
<%= f.hidden_field :project_id, value: project.id %>
<%= f.submit class: "expanded large button" %>
<% end %>

</div>

<a data-open="create-video" class="button">post video</a>
