<div id="title" class="row align-center">
    <h2>
        <%= @project.title %>
    </h2>
</div>

<div class="row align-center">
    <%= youtube_frame @project.video.youtube_link if @project.video %>
</div>

<div id="title" class="row align-center">
    <h4>
        <strong>User:</strong>
        <%= @project.user.username %>
    </h4>
</div>

<div class="row align-center">
    <%= render 'categories/labels', project: @project %>
</div>
