<div class="row" id="thumb-box">
    <% projects.each do |project| %>

    <div class="callout thumb">
        <%= project.user.username %>
        <%= project.title %>
        <%= project.about %>
        <%= link_to 'Show', project, class: "button" %>
    </div>

    <% end %>
</div>
