// $(document).ready(function() {
//   return $("#new_log").on("ajax:success", function(e, data, status, xhr) {
//
//       $("#create-log").foundation('close');
//
//
//   }).on("ajax:error", function(e, xhr, status, error) {
//     return $("#new_log").append("<p>ERROR</p>");
//   });
// });
