/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 * {
   box-sizing: border-box;
 }

 .box {
   height: 600px;
 }

p {
  word-wrap: break-word;
}

.orbit-color {
  background-color: #6644FF;
}
.topbar{
  background: url('/images/banner.jpg');
  background-size: 100% 100%;
}

div {
  margin: 3px;
}

.content-box, .orbit, .orbit-slide, .orbit-container {
  height: 300px;
  width: 600px;
}

section:hover, #log:hover, .input-group-label:hover {
 opacity: 0.9;
}

.tabs{
  background: rgba(102, 0, 255, 0.2);
}

.input-group{
  opacity: 0.7;
}

.input-group:hover{
  opacity: 1;
  box-shadow: inset 0 0 100px 100px rgba(255, 200, 220, 0.3);
}

.button{
  opacity: 0.7;
}
.button:hover{
  opacity: 1;
  box-shadow: inset 0 0 100px 100px rgba(255, 200, 220, 0.3);
}

.tabs-content{
  background: url('/images/grey.jpg')
}
.callout.row{
  background: #2E0084;
}
.callout.row:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 90, 90, 0.4);
}
<<<<<<< HEAD
#search{
  background-color: #3D3D3D;
}
.input-group-label{
  background-color: #3D3D3D;
}
.reveal-overlay{
display: black;
}
=======
>>>>>>> master
