// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
  height: 400px;
  width: 300px;
  margin: 40px;
}

#thumb-box {
  width: 1140px;
}
