<div class="callout row expanded align-center">

<% Category.all.each do |cat| %>
<%= button_to cat.science, projects_path, method: :get, params: { cat_id: cat.id }, class: "button small" %>
<% end %>

</div>
