<div class="reveal" id="create-log" data-reveal>

<%= form_for [project, log], remote: true do |f| %>
<%= f.text_field :title, placeholder: "title", class: "text-center"  %>
<%= f.text_area :body, placeholder: "body", class: "text-center"  %>

<%= f.submit 'post log', class: "expanded large button" %>
<% end %>

</div>

<a data-open="create-log" class="button expanded">create log</a>
