<% logs.each do |log| %>
<div class="callout columns medium-2 text-center">
  <%= log.title %><br />
  <%= log.body %><br />
  <%= link_to 'show project', log.project, class: "button" if current_page?(:controller => 'users', :action => 'show') %>
</div>
<% end %>
